<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_roo_esperanza_domain_PublicationHistory" modelAttribute="publicationHistory" path="/publicationhistorys" versionField="Version" z="user-managed">
        <field:textarea field="adminName" id="c_com_roo_esperanza_domain_PublicationHistory_adminName" z="user-managed"/>
    </form:update>
</div>
