@import 'vars';

@mixin sizes($width, $height: $width) {
  height: $height;
  width: $width;
}

@mixin directions($property, $ext: false, $top: '', $right: '', $bottom: '', $left: '') {
  @if $ext != true {
    #{$property}: $top;
  } @else {
    @if $top != '' {
      #{$property+'-top'}: $top;
    }
    @if $right != '' {
      #{$property+'-right'}: $right;
    }
    @if $bottom != '' {
      #{$property+'-bottom'}: $bottom;
    }
    @if $left != '' {
      #{$property+'-left'}: $left;
    }
  }
}

@mixin prefixer($property, $value, $prefixes: webkit moz ms o) {
  #{$property}: #{$value};
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: #{$value};
  }
}

@mixin breakpoint($device) {
  @if map-has-key($breakpoints, $device) {
    @if $device == "mobile" {
         @media (min-width: #{map-get($breakpoints, $device)}) and (max-width: 768px) {
            @content;
          }
    } @else {
        @media (min-width: #{map-get($breakpoints, $device)}) {
          @content;
      }
    }
  } @else {
    @warn "Desafortunadamente el valor #{$device} es desconocido.";
  }
}

@mixin font($style, $size, $weight, $family: null, $stretch: null, $variant: null) {
    font-style: $style;
    font-size: $size;
    font-weight: $weight;
    @if($family != null){
      font-family: $family;
    }
    @if $stretch != null {
      font-stretch: $stretch;
    }
    @if $variant != null {
      font-variant: $variant;
    }
}

@mixin font-face($name, $font-files, $eot: false, $weight: false, $style: false) {
  $iefont: unquote("#{$eot}?#iefix");
  @font-face {
    font-family: quote($name);
    @if $eot {
      src: font-url($eot);
      $font-files: font-url($iefont) unquote("format('eot')"), $font-files;
    }
    src: $font-files;
    @if $weight {
      font-weight: $weight;
    }
    @if $style {
      font-style: $style;
    }
  }
}

@mixin border($style, $width: null, $color: null, $spacing: null, $clip: null) {
  border-style: $style;
  @if $style != none {
    border-width: $width;
    border-color: $color;
    @if($spacing != null){
      border-spacing: $spacing;
    }
    @if $clip != null {
      border-clip: $clip;
    }
  }
}