@font-face {
  font-family: "AlfaSlabOne";
  src: "../font/AlfaSlabOne-Regular.ttf"; }
@font-face {
  font-family: "Architects";
  src: "../font/ArchitectsDaughter.ttf"; }
@font-face {
  font-family: "Almendra";
  src: "../font/Almendra-Regular.otf"; }
@media (min-width: 240px) and (max-width: 768px) {
  .navbar-right > li.dropdown.open, .navbar-right > li.open {
    background-color: #a2d2a2; }

  .list-group-item {
    text-align: left;
    font-size: 12px; }

  .tooltip {
    display: none !important; }

  .form-horizontal .radio, .form-horizontal .checkbox {
    padding-left: 25%; }

  .sidebar-offcanvas > .list-group > a {
    text-align: center; }

  .userData > div:first-child > div > img {
    width: 150px;
    height: 150px;
    border-radius: 80px 80px 80px 80px;
    -webkit-border-radius: 80px 80px 80px 80px;
    -moz-border-radius: 80px 80px 80px 80px;
    -ms-border-radius: 80px 80px 80px 80px;
    -o-border-radius: 80px 80px 80px 80px; }

  .col-xs-offset-3 > span {
    font-size: 13px; } }
@media (min-width: 768px) {
  .navbar-right > li.dropdown.open, .navbar-right > li.open {
    background-color: aquamarine; }

  .well > .list-group {
    position: relative;
    height: auto;
    width: 50%;
    left: 25%; }

  .list-group {
    font-size: small; } }
.jumbotron {
  font-style: italic;
  font-size: auto;
  font-weight: bold;
  background-image: rgba(211, 211, 211, 0.5); }

.btn-primary:hover {
  border-style: solid;
  border-width: auto; }

.panel-default {
  border-style: none !important;
  background-color: rgba(0, 51, 25, 0.01); }

.panel-default > .panel-heading {
  background-color: transparent;
  color: black;
  text-align: center; }

.collapse.in {
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey; }

.panel-collapse, .navbar-default .navbar-toggle .icon-bar, .modal-content, .list-group-item {
  background-color: darkseagreen; }

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #084224; }

.navbar-default .navbar-toggle:hover {
  background-color: #468435; }

.sidebar-offcanvas {
  padding: 0;
  margin-bottom: 20px;
  font-size: medium; }

.sidebar-offcanvas > div > .list-group > a {
  color: black;
  font-weight: bold;
  font-style: oblique;
  text-align: center; }

.sidebar-offcanvas > div > .list-group > a:hover, .sidebar-offcanvas > div > .list-group > a:focus, .sidebar-offcanvas > div > .list-group > .active {
  text-decoration: none;
  background-color: #274F3B; }

.well {
  background-color: lavender; }

.well {
  border-style: solid;
  border-width: 1px;
  border-color: lavenderblush;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  margin-bottom: 15px; }

ol > .list-group-item {
  display: list-item; }

.list-group-item {
  color: white; }

.list-group-item > a:hover, .list-group-item > a:focus, .sidebar-offcanvas > div > .list-group > a:hover, .sidebar-offcanvas > div > .list-group > a:focus, .sidebar-offcanvas > div > .list-group > .active {
  color: lightgreen; }

.list-group-item > a, .utilbox > a, .utilbox > form > button > span {
  color: #27590f;
  padding-left: 10px; }

.utilbox > form > button[disabled] > span, .utilbox > a.list-group-item.disabled, a.list-group-item.disabled.not-implemented {
  color: gray; }

a.not-implemented {
  padding-top: 0; }

.utilbox > a.list-group-item.disabled, .utilbox > form > button[disabled], a.list-group-item.disabled.not-implemented {
  background-color: transparent !important;
  border: none; }

.list-group-item > a > .glyphicon {
  padding-left: 5px; }

.list-group-item > img, .dropdown-menu > li > a > .glyphicon {
  padding-right: 5px; }

.limit-text {
  overflow: hidden;
  text-overflow: ellipsis; }

.badge {
  position: relative;
  top: -10px;
  left: 5px;
  background-color: lightseagreen; }

.navbar-right > li > a > .glyphicon {
  font-size: 15px; }

.form-group > input[type="submit"]:last-child {
  margin-left: 10px; }

input[data-validation*="required"]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, select[data-validation*="required"]::-webkit-input-placeholder, textarea[data-validation*="required"]::-webkit-input-placeholder {
  color: #10693B;
  font-weight: bold; }

.dropdown > a > .glyphicon {
  font-size: 7.5px !important; }

.dropdown-menu > li > a > div > .glyphicon, .dropdown-menu > li > a > .glyphicon {
  color: lightseagreen; }

.dropdown-menu > li > a, .dropdown-menu > li > a > div > span {
  color: gray; }

.dropdown-data > .dropdown-menu > li {
  width: 310px;
  min-width: 0; }

.dropdown-data > .dropdown-menu li a div {
  white-space: normal; }

.link-inactive {
  pointer-events: none;
  opacity: 0.5; }

.navbar-nav > li > a > img {
  margin-right: 10px; }

.userData > div:first-child {
  background-color: lightseagreen;
  padding-bottom: 5%;
  padding-top: 3%; }

.userData > div:first-child > div > img {
  width: 200px;
  height: 200px;
  border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -ms-border-radius: 100px 100px 100px 100px;
  -o-border-radius: 100px 100px 100px 100px; }

.userData > div:first-child > div > span {
  font-family: sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  color: white;
  display: block; }

.userData > div:first-child > div > a {
  color: white;
  font-weight: inherit; }

.userData i, a > i {
  padding-left: 10px; }

.userData > div > .slide {
  margin-top: 5px;
  margin-bottom: 20px; }

table.table.table-hover > tbody > tr > td {
  color: gray;
  font-family: cursive; }

table.table.table-hover > thead > tr > th, table.table.table-hover > tbody > tr > th {
  color: cadeteblue; }

.table-hover > tbody > tr:hover {
  background-color: rgba(115, 186, 110, 0.5); }

.nonRead {
  background-color: lightgray; }

.statisticList > .list-group {
  position: relative;
  width: 60%;
  left: 20%; }

.statisticList > .list-group > .list-group-item {
  text-align: left;
  font-style: italic;
  font-size: auto;
  font-weight: bold;
  font-family: serif;
  font-stretch: ultra-expanded;
  background-color: rgba(117, 164, 203, 0.8); }

.statisticList > .list-group > .list-group-item > small {
  float: right; }

#graphic {
  display: none; }

#graphic > canvas {
  height: 400px;
  width: 600px; }

#profileButton {
  margin-bottom: 20px; }

.text-center > a, .text-left > a {
  margin-left: 10px; }

a.btn-primary > span {
  padding-left: 5%; }

.tooltip.right .tooltip-inner {
  background-color: lightseagreen; }

.tooltip.left .tooltip-arrow {
  border-left-color: lightseagreen; }

#punctuate .slider-selection {
  background: #BABABA; }

.modal select, .modal input, .modal textarea {
  width: 80%;
  margin-left: 10%; }

.modal-footer {
  text-align: center; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  color: #333;
  font-size: 15px;
  margin-bottom: 60px; }

.footer, .footer-table {
  bottom: 0;
  background-color: #f5f5f5;
  font-family: AlfaSlabOne; }

.footer {
  position: absolute;
  padding-top: 10px;
  height: 40px;
  width: 100%; }

.footer-table {
  height: auto;
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
