<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:spring="http://www.springframework.org/tags" xmlns:table="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_roo_esperanza_domain_DonationRequest" items="${donationrequests}" z="user-managed">
        <c:choose>
            <c:when test="${fn:length(donationrequests) gt 0}">
                <spring:message code="button_accept" var="other_link_title"/>
                <table:table create="false" data="${donationrequests}" deleteIcon="glyphicon glyphicon-remove-sign" id="l_com_roo_esperanza_domain_DonationRequest" otherLink="accept" otherLinkIcon="glyphicon glyphicon-ok-sign" otherLinkTitle="${other_link_title}" path="/donationrequests" show="false" update="false" z="user-managed">
                    <table:column id="c_com_roo_esperanza_domain_DonationRequest_applicant" property="applicant" z="user-managed"/>
                    <table:column id="c_com_roo_esperanza_domain_DonationRequest_description" property="description" z="user-managed"/>
                </table:table>
            </c:when>
            <c:otherwise>
                <p class="text-center">
                    <spring:message code="label_com_roo_esperanza_domain_donationrequest_plural" var="argument"/>
                    <spring:message arguments="${fn:toLowerCase(argument)}" code="table_empty" htmlEscape="false"/>
                </p>
            </c:otherwise>
        </c:choose>
    </page:list>
    <script type="text/javascript">
    $(document).ready(function(){
    	$('a[href*="accept"]').each(function(i, e) {
    		var oldValue = $(this).attr('href');
    		var encryted = sha256(oldValue.substr(oldValue.lastIndexOf('/') + 1));
    		oldValue = oldValue.substring(0, oldValue.lastIndexOf('/'));
    		$(this).attr('href', oldValue+"?q="+encryted);
    	});
    	$('a[href*="participants"]').each(function(i, e) {
    		var oldValue = $(this).attr('href');
    		var encryted = sha256(oldValue.substr(oldValue.lastIndexOf('/') + 1));
    		oldValue = oldValue.substring(0, oldValue.lastIndexOf('/'));
    		$(this).attr('href', oldValue+"?q="+encryted);
    	});
    });
    </script>
</div>
