<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" 
	xmlns:spring="http://www.springframework.org/tags" 
	xmlns:form="http://www.springframework.org/tags/form" 
version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <p class="text-center"><spring:message code="acceptdenouncement_index"/></p>
    <form:form action="denouncements/cancel" method="POST" commandName="notification" class="form-signin">
    	<div class="form-group">
    		<input type="hidden" name="idDenouncement" value="${idDenouncement}" />
	        <spring:message code="label_accept_denouncement" var="description" />
	        <form:textarea path="description" class="form-control" cols="5" rows="3" placeholder="${description}" htmlEscape="false" data-validation="required"/>
	        <form:errors cssClass="errors alert alert-danger" path="description"/>
        </div>
    	<div class="form-group">
    		<spring:url value="/denouncements/list" var="cancelUrl"/>
	    	<a id="cancel" class="btn btn-danger" href="${cancelUrl}"><spring:message code="button_cancel" /></a>
	    	<spring:message code="button_submit_explanation" var="submit" />
	    	<input id="proceed" class="btn btn-primary" type="submit" value="${submit}" />
    	</div>
    </form:form>
</div>
