<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_roo_esperanza_domain_Denouncement" object="${denouncement}" path="/denouncements" z="user-managed">
        <field:display field="reason" id="s_com_roo_esperanza_domain_Denouncement_reason" object="${denouncement}" z="user-managed"/>
        <field:display date="true" dateTimePattern="${denouncement_date_date_format}" field="date" id="s_com_roo_esperanza_domain_Denouncement_date" object="${denouncement}" z="user-managed"/>
        <field:display field="statusType" id="s_com_roo_esperanza_domain_Denouncement_statusType" object="${denouncement}" z="user-managed"/>
        <field:display field="complainant" id="s_com_roo_esperanza_domain_Denouncement_complainant" object="${denouncement}" z="user-managed"/>
        <field:display field="denouced" id="s_com_roo_esperanza_domain_Denouncement_denouced" object="${denouncement}" z="user-managed"/>
        <field:display field="adminResolution" id="s_com_roo_esperanza_domain_Denouncement_adminResolution" object="${denouncement}" z="user-managed"/>
    </page:show>
</div>
