<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core"
	 xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields"
	 xmlns:form="http://www.springframework.org/tags/form" 
	 xmlns:jsp="http://java.sun.com/JSP/Page" 
	 xmlns:page="urn:jsptagdir:/WEB-INF/tags/jquery/form" 
	 xmlns:spring="http://www.springframework.org/tags" 
	 version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <c:if test="${resource.resourceType == 'Profile'}">
    	<c:choose>
    		<c:when test="${resource.participantOwner.user.rol.roleType == 'ROLE_PERSON'}">
	    		<div class="col-md-offset-4 col-xs-offset-3">
	                <spring:url value="/${resource.participantOwner.profilePicture}" var="profilePicture"/>
	                <img src="${profilePicture}"/>
	                <span>
	                    <c:out value="${resource.participantOwner.firstName} ${resource.participantOwner.lastName}"/>
	                </span>
	            </div>
    			<page:show create="false" delete="false" id="ps_com_roo_esperanza_domain_Person" list="false" object="${resource.participantOwner}" path="/people" update="false" withoutTitle="true" z="user-managed">
		            <field:display field="emailAddress" icon="glyphicon glyphicon-envelope" id="s_com_roo_esperanza_domain_User_emailAddress" label="E-mail" link="mailto:${resource.participantOwner.user.emailAddress}" object="${resource.participantOwner.user}" z="user-managed"/>
		            <field:display field="genreType" id="s_com_roo_esperanza_domain_Person_genreType" object="${resource.participantOwner}" z="user-managed"/>
		            <field:display field="address" icon="glyphicon glyphicon-home" id="s_com_roo_esperanza_domain_Address_address" object="${resource.participantOwner.address}" z="user-managed"/>
		            <field:display field="city" id="s_com_roo_esperanza_domain_Address_city" object="${resource.participantOwner.address}" z="user-managed"/>
		            <field:display field="province" id="s_com_roo_esperanza_domain_Province" object="${resource.participantOwner.address}" z="user-managed"/>
		            <field:display field="country" id="s_com_roo_esperanza_domain_Country" object="${resource.participantOwner.address}" z="user-managed"/>
		            <field:display field="postalCode" id="s_com_roo_esperanza_domain_Address_postalCode" object="${resource.participantOwner.address}" z="user-managed"/>
		            <field:display field="phone" icon="glyphicon glyphicon-phone-alt" id="s_com_roo_esperanza_domain_Person_phone" link="tel:+54${resource.participantOwner.phone}" object="${resource.participantOwner}" z="user-managed"/>
		            <field:display field="cellPhone" icon="glyphicon glyphicon-phone" id="s_com_roo_esperanza_domain_Person_cellPhone" link="tel:+54${resource.participantOwner.cellPhone}" object="${resource.participantOwner}" z="user-managed"/>
		            <field:display field="personalDescription" icon="glyphicon glyphicon-pencil" id="s_com_roo_esperanza_domain_Person_personalDescription" object="${resource.participantOwner}" z="user-managed"/>
		        </page:show>
    		</c:when>
    		<c:otherwise>
    			<div class="col-md-offset-3 col-xs-offset-3">
	                <spring:url value="/${resource.participantOwner.profilePicture}" var="profilePicture"/>
	                <img src="${profilePicture}"/>
	                <span>
	                    <c:out value="${resource.participantOwner.socialReason}"/>
	                </span>
	            </div>
    			<page:show create="false" delete="false" id="ps_com_roo_esperanza_domain_Institution" list="false" object="${resource.participantOwner}" path="/institutions" update="false" withoutTitle="true" z="user-managed">
		            <field:display field="socialReason" id="s_com_roo_esperanza_domain_Institution_socialReason" object="${resource.participantOwner}" z="user-managed"/>
		            <field:display field="emailAddress" icon="glyphicon glyphicon-envelope" id="s_com_roo_esperanza_domain_User_emailAddress" label="E-mail" link="mailto:${institution.user.emailAddress}" object="${resource.participantOwner.user}" z="user-managed"/>
		            <field:display field="address" icon="glyphicon glyphicon-home" id="s_com_roo_esperanza_domain_Address_address" object="${resource.participantOwner.address}" z="user-managed"/>
		            <field:display field="city" id="s_com_roo_esperanza_domain_Address_city" object="${resource.participantOwner.address}" z="user-managed"/>
		            <field:display field="province" id="s_com_roo_esperanza_domain_Province" object="${resource.participantOwner.address}" z="user-managed"/>
		            <field:display field="country" id="s_com_roo_esperanza_domain_Country" object="${resource.participantOwner.address}" z="user-managed"/>
		            <field:display field="phone" icon="glyphicon glyphicon-phone-alt" id="s_com_roo_esperanza_domain_Institution_phone" object="${resource.participantOwner}" z="user-managed"/>
		            <field:display field="cellPhone" icon="glyphicon glyphicon-phone" id="s_com_roo_esperanza_domain_Institution_cellPhone" object="${resource.participantOwner}" z="user-managed"/>
		            <field:display field="shortDescription" icon="glyphicon glyphicon-pencil" id="s_com_roo_esperanza_domain_Institution_shortDescription" object="${resource.participantOwner}" z="user-managed"/>
		            <field:display field="longDescription" icon="glyphicon glyphicon-pencil" id="s_com_roo_esperanza_domain_Institution_longDescription" object="${resource.participantOwner}" z="user-managed"/>
		            <field:display field="category" icon="glyphicon glyphicon-exclamation-sign" id="s_com_roo_esperanza_domain_Institution_category" object="${resource.participantOwner}" z="user-managed"/>
		        </page:show>						
    		</c:otherwise>
    	</c:choose>
	</c:if>
    <p class="text-center">
        <spring:message code="denounceresourse_index"/>
    </p>
    <div class="form-signin">
	    <div class="form-group">
	        <spring:url value="/denouncements/cancel/${idDenouncement}?form" var="cancelUrl"/>
	        <a class="btn btn-danger" href="${cancelUrl}" id="cancel">
	            <spring:message code="button_cancel"/>
	        </a>
	        <spring:url value="/denouncements/accept/${idDenouncement}?form" var="acceptUrl"/>
	        <a class="btn btn-primary" href="${acceptUrl}" id="accept">
	            <spring:message code="button_accept"/>
	        </a>
	    </div>
    </div>
</div>
