<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_roo_esperanza_domain_Notification" modelAttribute="notification" path="/notifications" render="${empty dependencies}" z="user-managed">
        <field:select field="participant" id="c_com_roo_esperanza_domain_Notification_participant" itemValue="id" items="${participants}" path="/participants" z="user-managed"/>
        <field:datetime dateTimePattern="${notification_date_date_format}" field="date" id="c_com_roo_esperanza_domain_Notification_date" z="user-managed"/>
        <field:checkbox field="status" id="c_com_roo_esperanza_domain_Notification_status" z="user-managed"/>
        <field:select field="Notificationtypes" id="c_com_roo_esperanza_domain_Notification_Notificationtypes" items="${notificationtypeenums}" path="notificationtypeenums" z="user-managed"/>
        <field:textarea field="description" id="c_com_roo_esperanza_domain_Notification_description" z="user-managed"/>
        <field:select field="notificationType" id="c_com_roo_esperanza_domain_Notification_notificationType" items="${notificationtypeenums}" path="notificationtypeenums" required="true" z="user-managed"/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_roo_esperanza_domain_Notification" render="${not empty dependencies}" z="user-managed"/>
</div>
