<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" 
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt" 
	xmlns:fn="http://java.sun.com/jsp/jstl/functions" 
	xmlns:jsp="http://java.sun.com/JSP/Page" 
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/jquery/form" 
	xmlns:spring="http://www.springframework.org/tags" 
	xmlns:table="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields"
	 version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <div class="row">
        <c:choose>
            <c:when test="${fn:length(conversations) gt 0}">
                <div class="col-md-10 col-md-offset-1 form-group">
                    <spring:message code="button_search" var="search"/>
                    <input class="form-control" name="filter" id="filter" placeholder="${search}" type="search"/>
                </div>
                        <div class="col-md-3 col-xs-3">
                            <div id="participants" class="list-group" data-session="${id}">
                            <c:forEach items="${conversations}" var="conversation" varStatus="counter">
                                <a href="" class="list-group-item text-center ${counter.count==1?'active' : ''}" data-id="${conversation.sender.id!=id ? conversation.sender.id : conversation.receiver.id}">
                                    <img height="25" src="${conversation.sender.id!=id ? conversation.sender.profilePicture : conversation.receiver.profilePicture}" width="25"/>
                                    <span>
                                        <c:choose>
                                            <c:when test="${(conversation.sender.user.rol.roleType eq 'ROLE_PERSON') and (conversation.receiver.user.rol.roleType eq 'ROLE_PERSON')}">
                                                <c:out value="${conversation.sender.id!=id ? conversation.sender.firstName : conversation.receiver.firstName} ${conversation.sender.id!=id ? conversation.sender.lastName : conversation.receiver.lastName}"/>
                                            </c:when>
                                            <c:when test="${(conversation.sender.user.rol.roleType eq 'ROLE_PERSON') and (conversation.receiver.user.rol.roleType eq 'ROLE_INSTITUTION')}">
                                                <c:out value="${conversation.sender.id!=id ? conversation.sender.firstName : conversation.receiver.socialReason} ${conversation.sender.id!=id ? conversation.sender.lastName : ''}"/>
                                            </c:when>
                                            <c:when test="${(conversation.sender.user.rol.roleType eq 'ROLE_INSTITUTION') and (conversation.receiver.user.rol.roleType eq 'ROLE_PERSON')}">
                                                <c:out value="${conversation.sender.id!=id ? conversation.sender.socialReason : conversation.receiver.firstName} ${conversation.sender.id!=id ? '' : conversation.receiver.lastName}"/>
                                            </c:when>
                                            <c:otherwise>
                                                <c:out value="${conversation.sender.id!=id ? conversation.sender.socialReason : conversation.receiver.socialReason}"/>
                                            </c:otherwise>
                                        </c:choose>
                                    </span>
                                </a>
                                </c:forEach>
                            </div>
                        </div>
                    <div class="col-md-9 col-xs-9">
                        <div class="list-group" id="messageList">
                        	<c:forEach items="${messages}" var="message">                        
                            <a class="list-group-item ${message.conversation.sender.id!=id ? 'text-left' : 'text-right'}" style="background-color: white;">
                                <h5 class="list-group-item-heading">
                                <fmt:formatDate type="time" value="${message.date}" pattern="dd/MM/yyyy HH:mm:ss"/>
                                </h5>
                                <p class="list-group-item-text">
                                    <c:out value="${message.message}"/>
                                </p>
                            </a>
                            </c:forEach>    
                        </div>
                    </div>
            </c:when>
            <c:otherwise>
               <p class="text-center">
             		<spring:message code="label_com_roo_esperanza_domain_message_plural" var="argument"/>
                    <spring:message code="table_empty" arguments="${fn:toLowerCase(argument)}"/>
                </p>
            </c:otherwise>
        </c:choose>
    </div>
    <c:if test="${fn:length(conversations) gt 0}">
    	<div class="row col-md-10 col-md-offset-1">
	    	<c:url  value="/messages" var="url"/>
	      	<form:form action="${url}" method="POST" commandName="msj" class="form-horizontal">	      
		        <div class="form-group">
		          <field:textarea field="message" id="c_com_roo_esperanza_domain_Message_message" dataValidation="required length" dataValidationLength="min10" z="user-managed" />
		          <input name="participantReceiverId" type="hidden" value=""/>
		          <button type="submit" class="btn btn-primary" style="float: right;margin-top: -4%;"><spring:message code="button_submit"/></button>
		        </div>
	        </form:form>
	    </div>
    </c:if>
    <script type="text/javascript">
    $(document).ready(function(){
    	var seen = {};
    	$('a[data-id]').each(function() {
    	    var data = $(this).data('id');
    	    if (seen[data])	$(this).remove();
    	    else	seen[data] = true;
    	});
    });
    </script>
</div>
