<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:spring="http://www.springframework.org/tags" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:find finderName="ByDateBetweenOrUserRoleType" id="ff_com_roo_esperanza_domain_Participant" labelCode="label_statistics_index" path="/statistics/list" z="user-managed">
        <field:datetime dateTimePattern="${participant_date_date_format}" disableFormBinding="true" field="minDate" id="f_com_roo_esperanza_domain_Publication_minDate" z="user-managed" />
        <field:datetime dateTimePattern="${participant_date_date_format}" disableFormBinding="true" field="maxDate" id="f_com_roo_esperanza_domain_Publication_maxDate" z="user-managed" />
        <field:select disableFormBinding="true" field="roleType" id="c_com_roo_esperanza_domain_Role_roleType" items="${roletypeenums}" path="roletypeenums" z="user-managed" />
		<div class="form-group">
          <select name="size" class="form-control input-sm">
            <option value="0"><spring:message code="label_numberofrecord"/></option>
            <option value="1">5</option>
            <option value="2">10</option>
            <option value="3">50</option>
            <option value="4">100</option>
            <option value=""><spring:message code="label_allrecords"/></option>
        </select>
        </div>   
	</form:find>
</div>
