$txt-size: 15px;
$txt-mob-size: 12px;
$txt-df-align: left;
$txt-color: #333;
$txt-df-width: bold;
$txt-alter-style: italic;
$txt-wspace: normal;
$txt-altern-family: cursive;
$pos-on: absolute;
$pos-in: relative;
$df-border-style: solid;
$no-property: none;
$df-border-width: 1px;
$df-padding: 10px;
$df-margin: 10px;
$no-change: auto;
$nonRead-color: lightgray;
$statistics-item-color: rgba(117, 164, 203, 0.8);
$footer-bg-color: #f5f5f5;
$form-bg-color:rgba(0, 51, 25, 0.01);
$colors: (
  background: (
    hover: #468435,
    click-li:#084224,
    a-click: #274F3B,
    componets: lightseagreen,
    containers: lavender,
    changable: darkseagreen,
    open-mob-li: rgb(162, 210, 162),
    open-li: aquamarine,
    tr-hover: rgba(115, 186, 110, 0.5),
  ),
  color:(
    glyphicon: lightseagreen,
    tag: gray,
    tag2: black,
    th: cadeteblue,
    li-item: white,
    a-hover: lightgreen,
    li-item-a: rgb(39, 89, 15),
    field-required: #10693B
  ),
  border:(
    btn-primary-hover: #49B04A,
    collapse: lightgrey,
    containers: lavenderblush,
    tooltip-left: lightseagreen
  )
);