@import 'vars';

@import "functions/base";
@import "mixins/base";

@include font-face(AlfaSlabOne, "../font/AlfaSlabOne-Regular.ttf");
@include font-face(Architects, "../font/ArchitectsDaughter.ttf");
@include font-face(Almendra, "../font/Almendra-Regular.otf");

@include breakpoint(mobile){
  .navbar-right>li.dropdown.open, .navbar-right>li.open{
    background-color:map-fetch($colors, "background", "open-mob-li");
  }
  .list-group-item{
    text-align: $txt-df-align;
    font-size: $txt-mob-size;
  }
  .tooltip{
     display: $no-property !important;
    }
  .form-horizontal .radio, .form-horizontal .checkbox{
    padding-left: 25%;
  }
  .sidebar-offcanvas>.list-group>a{
    text-align: center;
  }
  .userData>div:first-child>div>img{
	  width: 150px;
	  height: 150px;
	  @include prefixer(border-radius, 80px 80px 80px 80px);
  }
  .col-xs-offset-3>span{
  	font-size: 13px;
  }
}

@include breakpoint(desktop){
  .navbar-right>li.dropdown.open, .navbar-right>li.open{
    background-color:map-fetch($colors, "background", "open-li");
  }
  .well>.list-group{
    position: relative;
    @include sizes(50%,$no-change);
    left: 25%;
  }
  .list-group{
    font-size: small;
  }
}
.jumbotron{
  @include font($txt-alter-style, $no-change, $txt-df-width);
  background-image: rgba(211,211,211,0.5);
}

.btn-primary:hover {
  background-color:map-fetch($colors, "background", "btn-primary-hover");
  @include border($df-border-style, $no-change,
    map-fetch($colors, "background", "btn-primary-hover"));
}

.panel-default{
 @include border($no-property !important);
 background-color:$form-bg-color;
}

.panel-default>.panel-heading{
	background-color:transparent;
	color:map-fetch($colors,"color", "tag2");
	text-align: center;
}

.collapse.in {
  @include border($df-border-style, $df-border-width,
    map-fetch($colors, "border", "collapse"));
}

.panel-collapse, .navbar-default .navbar-toggle .icon-bar, .modal-content, .list-group-item{
  background-color:map-fetch($colors,
    "background", "changable");
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
 background-color:map-fetch($colors,
    "background", "click-li");
}

.navbar-default .navbar-toggle:hover{
  background-color:map-fetch($colors,
    "background", "hover");
}

.sidebar-offcanvas {
  @include directions(padding, false, 0);
  margin-bottom: 20px;
  font-size: medium;
}

.sidebar-offcanvas>div>.list-group>a{
  color: map-fetch($colors, "color", "tag2");
  font-weight: bold;
  font-style: oblique;
  text-align: center;
}

.sidebar-offcanvas>div>.list-group>a:hover, .sidebar-offcanvas>div>.list-group>a:focus, .sidebar-offcanvas>div>.list-group>.active {
  text-decoration: $no-property;
  background-color: map-fetch($colors, "background", "a-click");
}

.well{
  background-color: map-fetch($colors, "background", "containers");
}

.well{
  @include border($df-border-style, $df-border-width,
    map-fetch($colors, "border", "containers"));
  padding: 20px;
  @include prefixer(border-radius, 10px 10px 10px 10px);
  margin-bottom:15px;
}

ol>.list-group-item{
  display: list-item;
}

.list-group-item{
  color:  map-fetch($colors, "color", "li-item");
}

.list-group-item>a:hover, .list-group-item>a:focus, .sidebar-offcanvas>div>.list-group>a:hover, .sidebar-offcanvas>div>.list-group>a:focus, .sidebar-offcanvas>div>.list-group>.active {
   color:  map-fetch($colors, "color", "a-hover");
}

.list-group-item>a,  .utilbox>a, .utilbox>form>button>span{
  color:  map-fetch($colors, "color", "li-item-a");
  padding-left: $df-padding;
}

.utilbox>form>button[disabled]>span, .utilbox>a.list-group-item.disabled, a.list-group-item.disabled.not-implemented{
	color: gray;
}

a.not-implemented{
    padding-top: 0;
}

.utilbox>a.list-group-item.disabled, .utilbox>form>button[disabled], a.list-group-item.disabled.not-implemented{
    background-color: transparent !important;
    border: none;
}

.list-group-item>a>.glyphicon{
  padding-left: $df-padding/2;
}

.list-group-item>img, .dropdown-menu>li>a>.glyphicon{
  padding-right: $df-padding/2;
}

.limit-text{
	overflow: hidden;
	text-overflow: ellipsis;
}

.badge{
  position: $pos-in;
  top: -$df-padding;
  left: 5px;
  background-color: map-fetch($colors, "background", "componets");
}

.navbar-right>li>a>.glyphicon{
  font-size: $txt-size;
}

.form-group>input[type="submit"]:last-child{
	margin-left: $df-margin;
}

input[data-validation*="required"]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, select[data-validation*="required"]::-webkit-input-placeholder, textarea[data-validation*="required"]::-webkit-input-placeholder {
    color: map-fetch($colors,
    "color", "field-required");
    font-weight:bold;
}

.dropdown>a>.glyphicon{
  font-size: $txt-size/2 !important;
}

.dropdown-menu>li>a>div>.glyphicon, .dropdown-menu>li>a>.glyphicon{
  color: map-fetch($colors, "color", "glyphicon");
}

.dropdown-menu>li>a, .dropdown-menu>li>a>div>span{
  color: map-fetch($colors, "color", "tag");
}

.dropdown-data>.dropdown-menu>li{
  width: 310px;
  min-width: 0;
}

.dropdown-data>.dropdown-menu li a div {
  white-space: $txt-wspace;
}

.link-inactive{
	pointer-events: none;
	opacity: 0.5;
}

.navbar-nav>li>a>img{
  margin-right: $df-margin;
}

.userData>div:first-child{
	background-color: map-fetch($colors, "background", "componets");
	padding-bottom: 5%;
	padding-top: 3%;
}

.userData>div:first-child>div>img{
  width: 200px;
  height: 200px;
  @include prefixer(border-radius, 100px 100px 100px 100px);
}

.userData>div:first-child>div>span{
    font-family: sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    color: white;
    display: block;
}

.userData>div:first-child>div>a{
	color:white;
	font-weight: inherit;
}

.userData i, a>i{
  padding-left: $df-padding;
}

.userData>div>.slide{
  margin-top: $df-margin / 2;
  margin-bottom: $df-margin * 2;
}

table.table.table-hover>tbody>tr>td {
  color: map-fetch($colors, "color", "tag");
  font-family: $txt-altern-family;
}

table.table.table-hover>thead>tr>th, table.table.table-hover>tbody>tr>th{
  color: map-fetch($colors, "color", "th");
}

.table-hover>tbody>tr:hover {
  background-color: map-fetch($colors, "background", "tr-hover");
}

.nonRead{
  background-color: $nonRead-color;
}

.statisticList>.list-group{
  position: $pos-in;
  width: 60%;
  left: 20%;
}

.statisticList>.list-group>.list-group-item{
  text-align: $txt-df-align;
  @include font($txt-alter-style, auto, $txt-df-width, serif, ultra-expanded);
  background-color: $statistics-item-color
}

.statisticList>.list-group>.list-group-item>small{
  float: right;
}

#graphic{
  display: $no-property;
}

#graphic>canvas{
  @include sizes(600px, 400px);
}

#profileButton{
  margin-bottom: $df-margin * 2;
}

.text-center>a, .text-left>a{
	margin-left: $df-margin;
}

a.btn-primary>span{
	padding-left:5%;
}

.tooltip.right .tooltip-inner {
  background-color: map-fetch($colors, "background", "componets");
}
.tooltip.left .tooltip-arrow {
  border-left-color:  map-fetch($colors, "border", "tooltip-left");
}

#punctuate .slider-selection {
  background: #BABABA;
}

.modal select, .modal input, .modal textarea{
	width: 80%;
    margin-left: 10%;
}

.modal-footer{
	text-align: center;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: $pos-in;
  min-height: 100%;
}
body {
  color:$txt-color;
  font-size:$txt-size;
  margin-bottom: $df-margin * 6;
}

.footer, .footer-table{
  bottom: 0;
  background-color: $footer-bg-color;
  font-family: AlfaSlabOne
}

.footer {
  position: $pos-on;
  padding-top: $df-padding;
  @include sizes(100%, 40px);
}

.footer-table{
  @include sizes(100%, auto);
}