<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_roo_esperanza_domain_Donation" modelAttribute="donation" path="/donation" versionField="Version" z="user-managed">
        <field:textarea field="description" id="c_com_roo_esperanza_domain_Donation_description" z="user-managed"/>
        <field:select field="donor" id="c_com_roo_esperanza_domain_Donation_donor" itemValue="id" items="${people}" path="/people" z="user-managed"/>
        <field:datetime dateTimePattern="${donation_date_date_format}" field="date" id="c_com_roo_esperanza_domain_Donation_date" z="user-managed"/>
    </form:update>
</div>
