<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" 
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/jquery/form" 
	xmlns:table="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields"
	xmlns:spring="http://www.springframework.org/tags"
	version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <c:import url="/WEB-INF/views/modals/donationRequest.jspx"/>
    <page:list id="pl_com_roo_esperanza_domain_DonationGood" items="${donationgoods}" z="user-managed">
        <c:if test="${(not empty createDonationRequest) or (not empty errorDonationRequest)}">
    	<div class="alert ${not empty createDonationRequest? 'alert-success' : 'alert-danger'}">
    		<a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
  			<strong><spring:message code="${not empty createDonationRequest? 'success_alert_title' : 'error_alert_title'}"/></strong>
  			<spring:message code="${not empty createDonationRequest? 'alert_create_donationrequest_success' : 'alert_create_donationrequest_error'}" var="alertbody" htmlEscape="false"/>
  			<spring:message code="${not empty createDonationRequest? 'success_alert_body' : 'error_alert_body'}" arguments="${alertbody}"/>
		</div>
	    </c:if>
        <c:choose>
	    	<c:when test="${fn:length(donationgoods) gt 0}">
		        <ul class="list-group">
		        <c:forEach items="${donationgoods}" var="donationgood" varStatus="status">
		        	<li class="list-group-item text-center">
		        		<img src="${donationgood.photo}" height="42" width="42" alt=""/>
		        		<a id="show${status.count}" href="publications/${donationgood.id}">
		        			<i class="limit-text">
		        				<c:out value="${donationgood.creator.firstName} ${donationgood.creator.lastName} - ${donationgood.description}"/>
		        			</i>
		        		</a>
                		<a data-target="#donationRequestModal" data-toggle="modal" data-id="${donationgood.id}">
		                	<span aria-hidden="true" class="glyphicon glyphicon-question-sign"><c:out value=""/></span>
		                    <i><spring:message code="button_donation_request"/></i>
		                </a>
		        	</li>
		        </c:forEach>
		        </ul>
	    	</c:when>
	    	<c:otherwise>
	    		<p class="text-center">
             		<spring:message code="label_com_roo_esperanza_domain_donationgood_plural" var="argument"/>
                    <spring:message code="table_empty" arguments="${fn:toLowerCase(argument)}"/>
                </p>
	    	</c:otherwise>
	    </c:choose>
    </page:list>
    <script type="text/javascript">
    $(document).ready(function(){
    	$('a[id*="show"]').each(function(i, e) {
    		var oldValue = $(this).attr('href');
    		var encryted = sha256(oldValue.slice(-1));
    		oldValue = oldValue.substring(0, oldValue.lastIndexOf('/'));
    		$(this).attr('href', oldValue+"?q="+encryted);
    	});
    });
    </script>
</div>
