<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/jquery/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_roo_esperanza_domain_DonationGood" object="${donationgood}" path="/donationgoods" z="user-managed">
        <field:display field="description" id="s_com_roo_esperanza_domain_DonationGood_description" object="${donationgood}" z="user-managed"/>
        <field:display field="donationType" id="s_com_roo_esperanza_domain_DonationGood_donationType" object="${donationgood}" z="user-managed"/>
        <field:display date="true" dateTimePattern="${donationGood_date_date_format}" field="date" id="s_com_roo_esperanza_domain_DonationGood_date" object="${donationgood}" z="user-managed"/>
        <field:display field="link" id="s_com_roo_esperanza_domain_DonationGood_link" object="${donationgood}" z="user-managed"/>
        <field:display field="statusType" id="s_com_roo_esperanza_domain_DonationGood_statusType" object="${donationgood}" z="user-managed"/>
        <field:display field="history" id="s_com_roo_esperanza_domain_DonationGood_history" object="${donationgood}" z="user-managed"/>
        <field:display field="photo" id="s_com_roo_esperanza_domain_DonationGood_photo" object="${donationgood}" z="user-managed"/>
        <field:display field="detailedDescription" id="s_com_roo_esperanza_domain_DonationGood_detailedDescription" object="${donationgood}" z="user-managed"/>
        <field:display field="creator" id="s_com_roo_esperanza_domain_DonationGood_creator" object="${donationgood}" z="user-managed"/>
    </page:show>
</div>
