<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div id="footer" class="container" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <jsp:output omit-xml-declaration="yes"/>

  <spring:url value="/" var="home"/>

  <div class="col-xs-12 col-sm-9">
	  <span>
	    <a href="${home}">
	      <spring:message code="button_home"/>
	    </a>
	  </span>
	  <c:if test="${pageContext['request'].userPrincipal != null}">
	    <c:out value=" | "/>
	    <span>
	      <spring:url value="/resources/j_spring_security_logout" var="logout"/>
	      <a href="${logout}">
	        <spring:message code="security_logout"/>
	      </a>
	        </span>
	  </c:if>

	  <span id="language">
	    <c:out value=" | "/>
	    <spring:message code="global_language"/>
	    <c:out value=": "/>
	    <!--
	    <util:language label="English" locale="en"/>
	    -->
	    <util:language label="Espanol" locale="es"/>
	    </span>
 </div>
 <c:forEach var="scripts" items="${JSs}">
    	<spring:url value="/resources/scripts/${scripts}" var="js_url"/>
		<script src="${js_url}" type="text/javascript"><!-- required for FF3 and Opera --></script>
	</c:forEach>
    <c:forEach var="css" items="${CSSs}">
		<spring:url value="/resources/styles/${css}" var="js_url"/>
		<link type="text/css" href="${js_url}" rel="stylesheet"/>
	</c:forEach>
</div>
