<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
xmlns:c="http://java.sun.com/jsp/jstl/core" 
xmlns:spring="http://www.springframework.org/tags" 
xmlns:util="urn:jsptagdir:/WEB-INF/tags/jquery/util" 
xmlns:sec="http://www.springframework.org/security/tags"
version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8" session="true"/>
    <jsp:output omit-xml-declaration="yes"/>
    <spring:message code="application_name" htmlEscape="false" var="app_name"/>
    <spring:message arguments="${app_name}" code="welcome_titlepane" htmlEscape="false" var="title"/>

        <div class="jumbotron text-center">
            <h1><spring:message arguments="${app_name}" code="welcome_h3"/></h1>
        </div>

</div>
