<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	xmlns:fn="http://java.sun.com/jsp/jstl/functions" 
	xmlns:jsp="http://java.sun.com/JSP/Page" 
	xmlns:spring="http://www.springframework.org/tags" 
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/jquery/util" 
	xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <jsp:output omit-xml-declaration="yes"/>
  
    <c:if test="${not empty param.login_error}">
      <div class="alert alert-danger">
        <p>
          <spring:message code="security_login_unsuccessful"/>
          <c:out value="${SPRING_SECURITY_LAST_EXCEPTION.message}"/>
        </p>
      </div>
    </c:if>
    <c:if test="${not empty registerSuccess}">
    	<div class="alert alert-success">
	    		<a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
	  			<strong><spring:message code="success_alert_title"/></strong>
	  			<spring:message code="alert_complete_register_success" htmlEscape="false"/>
			</div>
    </c:if>
  
    <div class="jumbotron text-center">
          <h1>Da y/o recibe donaciones fácilmente</h1>
          <h4>Les facilitamos el camino a las personas con ganas de ayudar a quienes lo necesitan</h4>
          <h4>Ayudamos a las ONG de darse a conocer y poder ser receptoras de tu ayuda</h4>
        </div>

	<spring:url value="/resources/j_spring_security_check" var="form_url"/>

	<form action="${fn:escapeXml(form_url)}" method="POST" name="f" class="form-signin form">

    	<h2 class="form-signin-heading"><spring:message code="security_login_title"/></h2>

		<spring:message code="security_login_form_email" var="email" />
		<spring:message code="security_login_form_email_message" htmlEscape="false" var="email_msg"/>
        <div class="form-group">
			<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"><c:out value=""/></span></span>
			<input class="form-control" type="text" placeholder="${email}" 
				id="j_username" name="j_username" data-required="true"
				 data-minlength="3" data-maxlength="30" data-validation="required email" data-original-title="${email_msg}" />
			</div>
		</div>
		<spring:message code="security_login_form_password" var="pass"/>
       	<spring:message code="security_login_form_password_message" htmlEscape="false" var="pwd_msg"/>
       	<div class="form-group">
	        <input type="password" class="form-control" placeholder="${pass}" 
	        	id="j_password" name="j_password" data-required="true" data-minlength="3" 
	        	data-maxlength="30" data-validation="length" data-validation-length="3-30" data-original-title="${pwd_msg}"/>
        </div>
        <spring:message code="login_forgot_password" var="forgot_password" />
        <a href ="forgotpassword">${forgot_password}</a>
        <div class="submit">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="proceed"><spring:message code="button_home"/></button>
			<button type="reset" class="btn btn-primary btn-sm btn-block" id="reset"><spring:message code="button_reset"/></button>
      	</div>
      </form>
</div>
