<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:spring="http://www.springframework.org/tags" xmlns:table="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_roo_esperanza_domain_Necessity" items="${necessitys}" z="user-managed">
        <c:if test="${(not empty createNecessity) or (not empty closeNecessity)}">
            <div class="alert alert-success">
                <a aria-label="close" class="close" data-dismiss="alert" href="#">x</a>
                <strong>
                    <spring:message code="success_alert_title"/>
                </strong>
                <spring:message code="${not empty createNecessity? 'alert_create_necessity' : 'alert_close_necessity'}" var="alertbody"/>
                <spring:message arguments="${alertbody}" code="success_alert_body"/>
            </div>
        </c:if>
        <c:choose>
            <c:when test="${fn:length(necessitys) gt 0}">
            	<spring:message code="button_close" var="other_link_title"/>
                <table:table create="false" data="${necessitys}" id="l_com_roo_esperanza_domain_Necessity" path="/necessitys" update="false" otherLink="close" otherLinkTitle="${other_link_title}" otherLinkIcon="glyphicon glyphicon-ok-sign" z="user-managed">
                    <table:column id="c_com_roo_esperanza_domain_Necessity_description" property="description" z="user-managed"/>
                    <table:column id="c_com_roo_esperanza_domain_Necessity_statusType" property="statusType" z="user-managed"/>
                </table:table>
            </c:when>
            <c:otherwise>
                <p class="text-center">
             		<spring:message code="label_com_roo_esperanza_domain_necessity_plural" var="argument"/>
                    <spring:message code="table_empty" arguments="${fn:toLowerCase(argument)}"/>
                </p>
            </c:otherwise>
        </c:choose>
    </page:list>
    <div class="text-left">
        <spring:message code="button_add_necessity" htmlEscape="false" var="addNecessity"/>
        <a class="btn btn-primary" href="necessitys?form">
            <c:out value="${addNecessity}"/>
            <span aria-hidden="true" class="glyphicon glyphicon-plus-sign" title="${addNecessity}">
                <c:out value=""/>
            </span>
        </a>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
    	var parent = $("td:contains(Terminada)").parent("tr");
        parent.find('td>a').addClass('list-group-item disabled');
        parent.find('td>form>button').attr('disabled', 'disabled');
        $('a[class*="disabled"]').click(function(){
        	event.preventDefault();
        });
        $('a[href*="close"], a[id*="show"]').each(function(i, e) {
    		var oldValue = $(this).attr('href');
    		var encryted = sha256(oldValue.substr(oldValue.lastIndexOf('/') + 1));  
    		oldValue = oldValue.substring(0, oldValue.lastIndexOf('/'));
    		$(this).attr('href', oldValue+"?q="+encryted);
    	});
    });
    </script>
</div>
