<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:find finderName="ByEmailAddress" id="ff_com_roo_esperanza_domain_User" path="/users" z="user-managed">
        <field:input dataValidation="required email length" dataValidationLength="min10" disableFormBinding="true" field="emailAddress" id="f_com_roo_esperanza_domain_User_emailAddress" validationMessageCode="field_invalid_email" z="user-managed"/>
    </form:find>
</div>
