<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/jquery/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show create="false" delete="false" id="ps_com_roo_esperanza_domain_User" list="false" object="${user}" path="/users" update="false" z="user-managed">
        <field:display field="emailAddress" id="s_com_roo_esperanza_domain_User_emailAddress" object="${user}" z="user-managed"/>
        <field:display date="true" dateTimePattern="${user_activationdate_date_format}" field="activationDate" id="s_com_roo_esperanza_domain_User_activationDate" object="${user}" z="user-managed"/>
        <field:display field="activationKey" id="s_com_roo_esperanza_domain_User_activationKey" object="${user}" z="user-managed"/>
        <field:display field="enabled" id="s_com_roo_esperanza_domain_User_enabled" object="${user}" z="user-managed"/>
        <field:display field="locked" id="s_com_roo_esperanza_domain_User_locked" object="${user}" z="user-managed"/>
        <field:display field="rol" id="s_com_roo_esperanza_domain_User_rol" object="${user}" particularField="roleType" z="user-managed"/>
    </page:show>
</div>
