<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:form="http://www.springframework.org/tags/form"
    xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields"
    xmlns:jsp="http://java.sun.com/JSP/Page"
    xmlns:spring="http://www.springframework.org/tags"
	version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	      	<c:url  value="/messages" var="url"/>
	      	<form:form action="${url}" method="POST" commandName="msj" class="form-horizontal">	      
		      	<div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
		          <h4 class="modal-title text-center" id="messageModalLabel"><spring:message code="label_message_modal"/></h4>
		        </div>
		        <div class="modal-body text-center">
		          <field:textarea field="message" id="c_com_roo_esperanza_domain_Message_message" dataValidation="required length" dataValidationLength="min10" z="user-managed" />
		          <input name="participantReceiverId" type="hidden" value="${id}"/>
		        </div>
		        <div class="modal-footer">
		          <button type="reset" class="btn btn-danger"><spring:message code="button_cancel"/></button>
		          <button type="submit" class="btn btn-primary"><spring:message code="button_submit"/></button>
		        </div>
	        </form:form>
	      </div>
	    </div>
	</div>
</div>
