<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:form="http://www.springframework.org/tags/form"
    xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields"
    xmlns:jsp="http://java.sun.com/JSP/Page"
    xmlns:spring="http://www.springframework.org/tags"
	version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <div class="modal fade" id="puntuateModal" tabindex="-1" role="dialog" aria-labelledby="puntuateModalLabel">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <form:form  action="puntuations" method="POST" commandName="puntuation" class="form-horizontal">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
	          <h4 class="modal-title text-center" id="puntuateModalLabel"><spring:message code="label_puntuate_modal"/></h4>
	        </div>
	        <div class="modal-body text-center">
	          <field:select field="scoreType" id="c_com_roo_esperanza_domain_Puntuation_scoreType" items="${scoretypeenums}" path="scoretypeenums" dataValidation="required" z="user-managed" />
        	  <field:textarea field="comment" id="c_com_roo_esperanza_domain_Puntuation_comment" dataValidation="required" z="user-managed" />
	          <input name="donorId" type="hidden" value=""/>
	        </div>
	        <div class="modal-footer">
	          <button type="reset" class="btn btn-danger"><spring:message code="button_cancel"/></button>
	          <button type="submit" class="btn btn-primary"><spring:message code="button_submit"/></button>
	        </div>
	        </form:form>
	      </div>
	    </div>
	</div>
</div>
