<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_roo_esperanza_domain_Role" items="${roles}" z="user-managed">
        <table:table data="${roles}" id="l_com_roo_esperanza_domain_Role" path="/roles" z="user-managed">
            <table:column id="c_com_roo_esperanza_domain_Role_roleName" property="roleName" z="user-managed"/>
            <table:column id="c_com_roo_esperanza_domain_Role_roleDescription" property="roleDescription" z="user-managed"/>
            <table:column id="c_com_roo_esperanza_domain_Role_roleType" property="roleType" z="user-managed"/>
        </table:table>
    </page:list>
</div>
