<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_roo_esperanza_domain_Role" modelAttribute="role" path="/roles" versionField="Version" z="user-managed">
        <field:input field="roleName" id="c_com_roo_esperanza_domain_Role_roleName" min="1" z="user-managed"/>
        <field:textarea field="roleDescription" id="c_com_roo_esperanza_domain_Role_roleDescription" z="user-managed"/>
        <field:select field="roleType" id="c_com_roo_esperanza_domain_Role_roleType" items="${roletypeenums}" path="roletypeenums" z="user-managed"/>
    </form:update>
</div>
