<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:find finderName="ByUser" id="ff_com_roo_esperanza_domain_Person" path="/people" z="user-managed">
        <field:select dataValidation="required" disableFormBinding="true" field="user" id="f_com_roo_esperanza_domain_Person_user" itemValue="id" items="${users}" path="/users" z="user-managed"/>
    </form:find>
</div>
