<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_roo_esperanza_domain_Category" modelAttribute="category" path="/categorys" render="${empty dependencies}" z="user-managed">
        <field:textarea field="name" id="c_com_roo_esperanza_domain_Category_name" z="user-managed"/>
        <field:select field="parent" id="c_com_roo_esperanza_domain_Category_parent" itemValue="id" items="${categorys}" path="/categorys" z="user-managed"/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_roo_esperanza_domain_Category" render="${not empty dependencies}" z="user-managed"/>
</div>
