<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_roo_esperanza_domain_Category" items="${categorys}" z="user-managed">
        <table:table data="${categorys}" id="l_com_roo_esperanza_domain_Category" path="/categorys" z="user-managed">
            <table:column id="c_com_roo_esperanza_domain_Category_name" property="name" z="user-managed"/>
            <table:column id="c_com_roo_esperanza_domain_Category_parent" property="parent" z="user-managed"/>
        </table:table>
    </page:list>
</div>
