<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:spring="http://www.springframework.org/tags" xmlns:table="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_roo_esperanza_domain_Suscription" items="${suscriptions}" z="user-managed">
        <c:choose>
            <c:when test="${fn:length(suscriptions) gt 0}">
                <table:table data="${suscriptions}" id="l_com_roo_esperanza_domain_Suscription" path="/suscriptions" z="user-managed">
		            <table:column id="c_com_roo_esperanza_domain_Suscription_type" property="type" z="user-managed"/>
		            <table:column id="c_com_roo_esperanza_domain_Suscription_state" property="state" z="user-managed"/>
		            <table:column date="true" dateTimePattern="${suscription_date_date_format}" id="c_com_roo_esperanza_domain_Suscription_date" property="date" z="user-managed"/>
		            <table:column id="c_com_roo_esperanza_domain_Suscription_amount" property="amount" z="user-managed"/>
		            <table:column id="c_com_roo_esperanza_domain_Suscription_suscriptor" property="suscriptor" z="user-managed"/>
		            <table:column id="c_com_roo_esperanza_domain_Suscription_receiver" property="receiver" z="user-managed"/>
		        </table:table>
            </c:when>
            <c:otherwise>
                <p class="text-center">
             		<spring:message code="label_com_roo_esperanza_domain_suscription_plural" var="argument"/>
                    <spring:message code="table_empty" arguments="${fn:toLowerCase(argument)}"/>
                </p>
            </c:otherwise>
        </c:choose>
    </page:list>
</div>
