<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/jquery/form" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show create="false" delete="false" list="false" id="ps_com_roo_esperanza_domain_Participant" object="${participant}" path="/participants" update="false" z="user-managed">
        <div class="col-md-offset-4 col-xs-offset-3">
            <spring:url value="/${participant.profilePicture}" var="profilePicture"/>
        	<img src="${profilePicture}"/>
        </div><br/>
        <field:display field="user" particularField="emailAddress" id="s_com_roo_esperanza_domain_Participant_user" object="${participant}" z="user-managed"/>
        <field:display field="address" id="s_com_roo_esperanza_domain_Participant_address" object="${participant}" z="user-managed"/>
        <field:display date="true" dateTimePattern="${participant_date_date_format}" field="date" id="s_com_roo_esperanza_domain_Participant_date" object="${participant}" z="user-managed"/>
        <field:display field="phone" id="s_com_roo_esperanza_domain_Participant_phone" object="${participant}" z="user-managed"/>
        <field:display field="cellPhone" id="s_com_roo_esperanza_domain_Participant_cellPhone" object="${participant}" z="user-managed"/>
    </page:show>
</div>
