<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_roo_esperanza_domain_Country" object="${country}" path="/countrys" z="user-managed">
        <field:display field="name" id="s_com_roo_esperanza_domain_Country_name" object="${country}" z="user-managed"/>
        <field:display field="code" id="s_com_roo_esperanza_domain_Country_code" object="${country}" z="user-managed"/>
    </page:show>
</div>
